body
{
    background-image: url(img/background1.png);
}

.grid-container
    {
        display: grid;
        height: 100vh;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 100px 1fr 60px;
        grid-template-areas:
        "header header"
        "nav2 content1"
        "footer footer";
        gap: 5px;
        font-family: 'Roboto', sans-serif;
    }
    a
    {
        text-decoration: none;
        color: green;
    }
.header
    {
        grid-area: header;
        font-size: 35px;
        text-align: center;
        padding-top: 30px;
        font-weight: bold;
    }
.header h1
    {
        font-size: 15px;
        background: rgba(80, 146, 80, 0.4);
        color: white;
        padding: 10px 0px;
    }
.nav1
    {
        display: none;
    }
.nav2
    {
        grid-area: nav2;
        display: grid;
        grid-template-rows: 40px 60px 40px 40px;
        padding-top: 80px;
        padding-left: 10px;
    }
.nav2 a
    {
        color: black;
        font-size: 20px;
        text-decoration: none;
    }
.nav2 ul
    {
        display: none;
    }

.tytul
    {
        text-align: center;
        font-size: 20px;
        padding: 10px 0px;
        background: rgba(80, 146, 80, 0.4);
        border-radius: 50% 0% 0% 50%;
    }

.content1
    {
        grid-area: content1;
    }
.opis
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 1fr;
        justify-items: center;
        align-items: center;
        padding-top: 20px;
    }
.opis p
    {
        font-size: 12px;
        padding: 10px;
        background: rgba(80, 146, 80, 0.4);
    }
.opis2 img
    {
        width: 200px;
    }
.footer
    {
        grid-area: footer;
        text-align: center;
    }
.footer p
    {
        background: rgba(80, 146, 80, 0.4);
        margin-top: 10px;
        font-size: 13px;
    }
        /*  Nasza plantacja   */

.grid1
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 100px);
        justify-content: center;
        align-content: center;
        font-size: 10px;
        padding-top: 20px;
        gap: 20px 10px;
    }
.item-nasz img
    {
        width: 100px;
        height: 100px;
        border-radius: 20%;
    }

    /*      Galeria       */


.galeria
    {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(2, 100px);
        justify-content: center;
        align-content: center;
        padding-top: 10px;
        gap: 2px;
    }
.item1 img
    {
        width: 100px;
        height: 100px;
    }

        /*      Kontakt       */
.mapka
    {
        display: grid;
        grid-template-columns: 1fr 0px;
        grid-template-rows: 50px;
    }
iframe
    {
        width: 0px;
        height: 0px;
    }
.text
    {
        padding: 80px 20px;
    }
.text p
    {
        font-size: 15px;
    }
.text i
    {
        padding-left: 10px;
    }
.fa-mobile-alt
{
    padding-left: 8px;
}

/*          kazdy osobno         */

.drzewo
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 100px 170px;
        gap: 10px;
        padding: 50px 20px;
        font-size: 11px;
    }
.drzewo img
    {
        width: 150px;
        height: 150px;
        text-align: center;
        border-radius: 10%;
    }
.zdjecie
    {
        display: none;
    }

/*              media         */

@media (min-width: 768px)
{
       /* O nas */
    .header h1
    {
        font-size: 25px;
    }
    .opis
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr;
        justify-items: center;
        align-items: center;
    }
    .opis p
    {
        padding: 20px 50px;
        font-size: 15px;
    }
    .opis img
    {
        width: 400px;
    }
    .footer p
    {
        padding: 10px;
        font-size: 18px;
    }
       /* Nasza plantacja */
    .item p
    {
        font-size: 17px;
    }
     /*         galeria      */
     .galeria
    {
        display: grid;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(2, 150px);
        justify-content: center;
        align-content: center;
        gap: 5px;
        padding: 12px;
    }
    .galeria img
    {
        width: 150px;
        height: 150px;
    }
     /*         kontakt      */
.mapka
     {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: 400px;
         padding-top: 70px;
     }
.mapa
     {
        padding: 20px 0px 0px 20px;
     }
 iframe
     {
         width: 300px;
         height: 300px;
     }
 .text
     {
         padding: 50px;
     }
 .text p
     {
         font-size: 18px;
     }
.text i
     {
         padding-left: 10px;
     }
}
@media (min-width: 1024px)
{
.grid-container
{
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 35px 1fr 50px;
    grid-template-areas:
        "header header"
        "nav1 nav1"
        "nav2 content1"
        "footer footer";
}
.nav1
{
    grid-area: nav1;
    display: grid;
    grid-template-columns: 145px 90px 90px;
    justify-self: end;
    padding: 5px 0px;
    padding-right: 10px;
}
        /*              kontakt              */
.grid1
    {
        display: grid;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(2, 150px);
        justify-content: center;
        align-content: center;
        gap: 20px;
        padding-top: 60px;
    }
.grid1 img
    {
        width: 150px;
        height: 150px;
    }
.grid1 p
    {
        font-size: 15px;
    }
.nav2 a:hover, .nav1 a:hover
    {
        background: rgba(28, 143, 28, 0.4);
    }
.nav1 a
    {
        padding: 8px;
    }
.nav2
{
    display: grid;
    grid-template-rows: 40px 40px 40px 40px;
}
            /*            O nas              */
.opis
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        padding-top: 40px;
    }
.opis p
    {
        font-size: 17px;
    }
.opis img
    {
        width: 400px;
    }
.tytul
    {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        background: none;
        border-radius: 0%;
    }
.kreska
    {
        border-bottom: 3px solid green;
        padding:0px 10px;
    }
.kreska2
    {
        border-bottom: 3px solid green;
    }
            /*            Nasza plantacja              */
.grid1
    {
        display: grid;
        grid-template-columns: repeat(4, 170px);
        grid-template-rows: repeat(2, 170px);
    }
.grid1 p
    {
        background: rgba(28, 143, 28, 0.4);
        padding: 10px;
        border-radius: 10%;
    }
.item-nasz
    {
        padding: 10px 0px 0px 10px;
    }
.drzewo
    {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: 150px 150px 0px;
        gap: 20px;
        padding: 80px 20px;
    }
.drzewo p
    {
        font-size: 15px;
    }
}
@media (min-width: 1440px)
{
.opis
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 100px 10px 0px 40px;
}
.opis p
    {
        font-size: 23px;
    }
.opis img
    {
        width: 500px;
        border-radius: 10%;
    }
.tytul
    {

        font-size: 30px;
    }

.grid1 p
    {
        background: rgba(28, 143, 28, 0.4);
        padding: 20px;
        border-radius: 10%;
        font-size: 20px;
    }
.grid1 img
    {
        width: 200px;
        height: 200px;
        padding: 20px 0px 0px 20px;
    }
.grid1
    {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(2, 250px);
        padding-top: 70px;
    }
.mapka
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 500px;
        padding-top: 35px;
    }
.mapa
    {
        padding: 0;
    }
iframe
    {
        width: 600px;
        height: 500px;
    }
.text
    {
        padding: 50px 20px;
    }
.text p
    {
        font-size: 25px;
    }
.text i
    {
        padding-left: 150px;
    }
.drzewo
    {
        display: grid;
        grid-template-columns: 300px 600px;
        grid-template-rows: 200px 200px 0px;
        gap: 20px;
        padding: 40px 20px;
    }
.drzewo p
    {
        font-size: 20px;
    }
.drzewo img
    {
        width: 300px;
        height: 200px;
    }
}
@media (min-width: 1900px)
{
    .mapka
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 650px;
        padding-top: 35px;
    }
.mapa
    {
        padding: 20px 0px 0px 20px;
    }
iframe
    {
        width: 800px;
        height: 600px;
    }
.text
    {
        padding: 100px;
    }
.text p
    {
        font-size: 25px;
    }
.text i
    {
        padding-left: 150px;
    }
.drzewo
    {
        padding: 100px 150px;
    }
}


